<div class="full-height">
  <div class="title-page-wrapper">
    <div>
      NIESAMOWITE KOSMETYKI CZEKAJĄ WŁAŚNIE NA CIEBIE
    </div>
    <button pButton type="button" label="Dowiedz się więcej!" ></button>
  </div>
</div>
<div class="full-height">
  <div class="yt-video-wrapper">
    <div class="yt-video-text">
      <p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
        <ng-template pTemplate="header">
        </ng-template>
        <p>Poniżej zaprezentowano niesamowitą reklamę!!!</p>
      </p-card>
    </div>
    <div class="yt-video">
      <iframe width="760" height="450" src="https://www.youtube.com/embed/hoZCNKKhXzk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="full-height">
  <div class="cosmetics">
    <div class="cosmetic">
      <div class="img">
        <p-image src="https://image.ceneostatic.pl/data/article_picture/be/01/3ba1-2af4-44b6-be40-041c0b58a9eb_large.jpg?fbclid=IwAR06xjFFJJcYGIIWXNZhWLoMbciDYApyjOe0I1-5KNVxOB_Od2-cU2cOmgM"
                 height="600px"></p-image>
      </div>
      <div class="label">
        Holika Holika Aloe Waterproof Sun Gel Krem przeciwsłoneczny SPF50 Nowa Wersja
        <br><br>
        Przeciwsłoneczny krem przeznaczony do pielęgnacji twarzy i ciała.
        <br><br>
        Stworzony na bazie ekstraktu z aloesu. Kosmetyk w swoim składzie zawiera stabilny filtr SPF50PA++++.
        <br><br>
        Chroni skórę przed szkodliwym promieniowaniem UVA oraz UVB.
        <br><br>
        Charakteryzuje się wodoodporną, trwałą formułą.
        <br><br>
        Posiada żelową, delikatną konsystencję, która szybko się wchłania.
        <br><br>
        Pojemność: 100ml
      </div>
      <button pButton type="button" label="Wypróbuj teraz!" ></button>
    </div>

    <div class="cosmetic">
      <div class="img">
        <p-image src="https://drogeriapigment.pl/16857-large_default/bourjois-healthy-mix-podklad-do-twarzy-51-light-vanilla-30-ml.jpg?fbclid=IwAR3LqHPI8PNa37_9ZvTtYBkrvzOCjzU0G1Su3ZszB7a8jTTzJ59IvQDvdxU"
                 height="600px"></p-image>
      </div>
      <div class="label">
        Bourjois Healthy Mix Podkład Rozświetlający Light Vanilla 51
        <br><br>
        Owocowy podkład rozświetlający cerę od firmy Bourjois. Lekka formuła z łatwością radzi sobie z niedoskonałosciami cery jednocześnie nie obciążając jej. Rozświetla twarz, bez zbędnych drobinek, nadaje efekt zdrowej cery. Zaraz po zastosowaniu skóra jest miękka, gładka i widocznie ożywiona. Podkład nadaje się do każdego typu skóry. Subtelny, nie drażniący owocowy zapach dodatkowo wpływa na cerę:
        <br><br>
        - Morela - dodaje blasku
        <br>
        - Melon - działanie nawilżające
        <br>
        - Jabłko - antyutleniacz
        <br>
        - Imbir - działanie odświeżające
        <br><br>
        Kolor: Light Vanilla 51
        <br><br>
        Pojemność: 30ml
        <br><br>
        Przydatność: 12 miesięcy od pierwszego otwarcia
      </div>
      <button pButton type="button" label="Wypróbuj teraz!" ></button>
    </div>
  </div>
</div>
<div class="full-height">

  <div class="form">
    NEWSLETTER
    <input type="text" placeholder="Imię" pInputText/>
    <input type="text" placeholder="Nazwisko" pInputText/>
    <input type="text" placeholder="Email" pInputText/>
    <button pButton type="button" label="Zapisz sie do newslettera!" ></button>
  </div>
</div>

